<div class="row">
    <div class="col">
        <h1 class="text-danger">Bienvenido al backoffice</h1>

        <!-- mensajes al usuario -->
        <div *ngIf="showMensaje" class = "alert alert-primary alert-dismissible fade show" role="alert">
            {{mensaje}} 
            <button (click)="showMensaje = !showMensaje" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<!-- 
<div class="crear">
    <input type="text" [(ngModel)]="nombreNuevo" class="form-control" placeholder="Escribe aquí el nombre de tu pokemon">
    <input type="text" [(ngModel)]="imagenNueva" class="form-control" placeholder="Escribe aquí la url de la imagen de tu pokemon">
    <button (click)="crearPokemon()" class="btn btn-success">Crear nuevo pokemon</button>
</div>
-->

<div class="row">
    <!-- LISTA -->
    <div class="col">
        <div>
            <ul class="list-group">
                <li *ngFor = "let pokemon of pokemons" 
                    (click)="cargarPokemonFormulario(pokemon)"
                    class="list-group-item {{pokemon==pokemonSeleccionado ? 'active' :'' }}">
                    {{pokemon.id}} - {{pokemon.nombre}}
                    <!-- eliminar pokemon -->
                    <span class="fas fa-trash-alt" (click)="eliminarPokemon(pokemon)"></span>
                </li>
                <!-- 
                <li *ngFor = "let pokemon of pokemons" (click)="modoEdicion = true">
                    {{pokemon.id}}
                     editar pokemon 
                    <input type="text" [(ngModel)]=pokemon.nombre
                            (blur)="cambiarNombre(pokemon)">
                    <input type="text" [(ngModel)]=pokemon.imagen
                            (blur)="cambiarImagen(pokemon)"> 
                     eliminar pokemon 
                    <span class="fas fa-trash-alt" (click)="eliminarPokemon(pokemon)"></span>
                </li>
                -->
            </ul>
        </div>
    </div>

    <!-- FORMULARIO -->
    <div class="col">
        <!-- {{ formulario.value | json }}
        {{ formulario.status | json }} -->
        <div class="crear">
            <form [formGroup]="formulario" (ngSubmit)="enviar(formulario.value)">
                <label for="id">ID</label>
                <input type="text" formControlName="id" class="form-control" readonly required placeholder="ID de tu pokemon">

                <label for="name">Nombre</label>
                <input type="text" formControlName="nombreNuevo" class="form-control" autofocus required placeholder="Escribe aquí el nombre de tu pokemon">
                <small *ngIf="formulario.controls.nombreNuevo.invalid && formulario.controls.nombreNuevo.dirty"
                    class="text-danger">Mínimo 2 carácteres y máximo 50</small>
                    <!-- formulario.controls.nombre.invalid para sacar el mensaje sólo cuando el texto no sea correcto
                        formulario.controls.nombre.dirty para que el mensaje no salga por pantalla al entrar en la página -->
                <small *ngIf="formulario.controls.nombreNuevo.valid" class="text-success">Nombre correcto</small><br>

                <label for="image">Imagen</label>
                <input type="text" formControlName="imagenNueva" class="form-control" required placeholder="Escribe aquí la url de la imagen de tu pokemon">
                
                <!-- <button (click)="crearPokemon()" class="btn btn-success">Crear nuevo pokemon</button> -->
                <input type="submit" class="btn btn-success btn-block" [disabled]="formulario.invalid" value="Crear" />
            </form>
        </div>
    </div>
</div>


<hr>

<div class="row">
    <div class="col">
        <h3>Teoría</h3>
        <p>Sólo pueden acceder usuarios logeados</p>
        <p>Para proteger el acceso a esta ruta debemos usar una GUARDA / GUARD y definirla en el routing </p>
        <code>path: 'privado', component: PrivadoComponent, canActivate: [LoginGuard]</code>
        <dl>
            <dt>canActivate</dt>
                <dd>Guarda para indicar si se puede ativar esa ruta</dd>
            <dt>LoginGuard</dt>
                <dd>Guarda creada por nosotros, que devuelve un true (sí tenemos permisos para entrar) o un false (no tenemos permisos para activarlo)</dd>
        </dl>
    </div>
</div>


<!-- VENTANA MODAL BOOTSTRAP PARA BORRAR POKEMON -->
<!-- Button trigger modal 
<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">Liberar pokemon</button>
-->
<!-- Modal 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar pokemon</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            ¿Estás seguro de que quieres eliminar este pokemon?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <a class="btn btn-danger" (click)=eliminarPokemon(pokemon)>Eliminar</a>
            </div>
        </div>
    </div>
</div>
-->
