//Variables SASS:
$color:#009C6B;

.active{
    background-color: $color;
}

input.btn.btn-success.btn-block{
    background-color: $color;
}

li{
    list-style: none; //quitamos el puntito negro de la numeración
}

button.btn.btn-primary{
    background-color: $color;
}