<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li *ngFor = "let r of rutas" class="nav-item" >
          <a [routerLink]="[r.ruta]" routerLinkActive="active" class="nav-link">{{r.nombre}}</a>
        </li>

        <!-- rutas visibles para el usuario si está logeado o no: -->
        <li class="nav-item" >
          <a *ngIf = "!isLogeado" [routerLink]="'/login'" routerLinkActive="" class="nav-link"> Iniciar Sesión </a>
        </li>

        <li class="nav-item" >
          <a *ngIf = "usuarioService.estaLogeado()" [routerLink]="'/backoffice'" routerLinkActive="" class="nav-link"> Backoffice </a>
        </li>

        <li class="nav-item" >
          <a *ngIf = "usuarioService.estaLogeado()" (click)="salir()" class="nav-link text-danger"> Cerrar sesión </a>
        </li>
        <!-- mejoramos el código:
          he ssustituido las 3 llamadas a la función usuarioService.estaLogeado() 
          por la variable booleana isLogeado 
          en navbar.component.ts hacemos this.isLogeado = usuarioService.estaLogeado(); 
          y así mejoramos un poco el código evitando que por consola aparezca el mensaje de está logeado 
          varias veces (tantas como veces llamamos a la función desde el navbar)
        -->

      </ul>  
    </div>
</nav>
