<app-navbar></app-navbar>

<main class="container pt-2">
  <!-- MODULO (especie de libreria) de Angular para sistema de rutas o navegacion -->
  <router-outlet></router-outlet>
</main>


<footer class="text-white">
  <div class="container p-1 p-sm-3 clearfix"> 
    <div class="float-left">
      <a class="text-white" href="https://github.com/ana-db/pokemon-rest" target=_blank>Servicio Rest</a><br>
      <a class="text-white" href="{{global.github}}" target=_blank>Cliente Angular</a>
    </div>
    <div class="float-right">
      Angular2 &copy; 2020
      <div>{{global.usuario}}</div>
      <a class="fab fa-github" href="{{global.github}}" target=_blank></a>
      <a class="fas fa-paw"></a>
      <div>Version {{global.version}}</div>
    </div>  
  </div>
</footer>